.carousel__custom {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}
  
.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(75%), saturate(14%);
  opacity: 50%;
}
  
.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
  
.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 500ms ease-in;
}
  
.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
  
.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 100%;
}

.carousel__button:focus,
.carouse__button:active {
  background-color: transparent;
}
  
.carousel__button--left {
  z-index: 2;
  left: 5px;
}
  
.carousel__button--right {
  right: 5px;
  z-index: 2;
}
  
.carousel__button img {
  width: 12px;
}
  
.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  z-index: 2;
  position: relative;
  transform: translateY(-100%);
}
  
.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
  cursor: pointer;
}
  
.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}
  
.is-hidden {
  display: none;
}

.carousel__card {
  position: relative;
  max-width: 1000px;
  left: 50%;
  transform: translate(-50%, -130%);
  text-align: center;
  border: 10px solid white;
  background: #1f2e6e;
  z-index: 2;
  opacity: 75%;
}

@media screen and (min-width: 769) and (max-width: 1025px) {
  .carousel__card {
    position: relative;
    max-width: 500px;
    left: 50%;
    transform: translate(-50%, -130%);
    text-align: center;
    border: 10px solid white;
    background: #1f2e6e;
    z-index: 2;
    opacity: 75%;
  }
  .carousel__card img {
    max-width: 100%;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .carousel__card {
    position: relative;
    max-width: 500px;
    left: 50%;
    transform: translate(-50%, -110%);
    text-align: center;
    border: 10px solid white;
    background: #1f2e6e;
    z-index: 2;
    opacity: 75%;
  }
  .carousel__card img {
    max-width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .carousel__custom {
    position: relative;
    height: 150vh;
    width: 100%;
    margin: 0 auto;
  }
  .carousel__card {
    position: relative;
    max-width: 300px;
    left: 50%;
    transform: translate(-50%, -110%);
    text-align: center;
    border: 10px solid white;
    background: #1f2e6e;
    z-index: 2;
    opacity: 75%;
  }
  .carousel__card img {
    max-width: 100%;
  }
}

.carousel__card:hover {
  opacity: 100%;
}

.humansOfPinus {
  background: #1f2e6e;
}

.diaspora {
  background: #ff0000
}

.manusia {
  background: #f8bd1f
}