.footer {
  position: relative;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.footer__container {
  position: relative;
  box-sizing: border-box;
  width: 75%;
  height: 40vh;
  top: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: start;
  background-size: cover;
}

@media only screen and (max-width: 1236px) {
  .footer__container {
    position: relative;
    box-sizing: border-box;
    width: 75%;
    height: 100vh;
    top: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: start;
    background-size: cover;
  }
}

.footer__container ul {
  position: relative;
  padding: 10px 10px 10px 10px;
  max-height: 50vh;
  left: -2%;
}

@media only screen and (max-width: 1236px) {
  .footer__container ul {
    position: relative;
    padding: 10px 10px 10px 10px;
    max-height: 50vh;
    left: 0%;
  }
}

.footer__container li {
  position: relative;
  text-align: center;
}

.footer__container h6 {
  border-color: #313132;
  border-bottom: 2px solid;
  padding-bottom: 10px;
  color: white;
}

.footer__container ul a h6{
  transition: all 0.3s ease;
}
  
.footer__container ul a:hover h6, .footer__container ul a:focus h6 {
  background-color: initial;
  border-color: white;
  color: #efb61e;
}

.footer__container h5 {
  border-bottom: 10px solid;
  padding-bottom: 10px;
}

.ending {
  position: relative;
  width: 100%;
  padding: 20px 20px 20px 20px;
}

.ending h6 {
  left: 10%;
  width: 80%;
  position: relative;
}
