/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #1f2e6e;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #landing {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #landing {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.ablue {
  background-color: #1f2e6e;
}
.ayellow {
  background-color: #efb61e;
}

.ayellow-text {
  color: #efb61e;
}

.ablue-text {
  color: #1f2e6e;
}

/* sticky nav */

nav {
  position: sticky;
  top: 0;
  z-index: 3;
}

nav ul a {
  transition: all 0.3s ease;
}

nav ul a:hover,
nav ul a:focus {
  opacity: 0.8;
}

/* landing section */

#landing {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  background: url(../background2.jpg) no-repeat 50% 50%;
  background-size: cover;
  top: 0;
}

#landing:after {
  content: "";
  background-color: black;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

#landing .inner {
  padding-bottom: 56px;
  z-index: 2;
}

#landing .inner h1 {
  font-size: 550%;
  color: white;
  text-shadow: 2px 2px 5px #efb61e;
}

#landing .inner .button {
  font-size: 175%;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
}

#landing .inner .button:hover {
  background-color: #efb61e;
  border: 2px solid #efb61e;
}

#landing i {
  cursor: pointer;
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  color: white;
  bottom: 100px;
  left: calc(50% - 15px);
  font-size: 350%;
  animation: pinus-down-and-fade 3s infinite linear;
}

@keyframes pinus-down-and-fade {
  0% {
    bottom: 120px;
    opacity: 0.2;
  }

  15% {
    bottom: 110px;
    opacity: 0.9;
  }

  85% {
    bottom: 75px;
    opacity: 0;
  }

  100% {
    bottom: 75px;
    opacity: 0;
  }
}

@media (max-width: 768px) {
  #landing .inner h1 {
    font-size: 400%;
  }
  #landing .inner .button {
    font-size: 175%;
    padding: 7px 15px;
  }
}

/* About us */
#aboutus {
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

#aboutus .content {
  border-left: 1px solid #9c9c9c;
  padding-left: 20px;
}

#aboutus ol {
  padding-left: 15px;
}
#aboutus li {
  padding: 2.5px;
  line-height: 1.5em;
}

@media (max-width: 992px) {
  #aboutus .content {
    border-left: 0;
    padding-left: 10px;
  }
}

/* Meet our team section */
.card-image img {
  height: 350px;
}

.team {
  margin: 15px 0px;
  position: relative;
  width: 100%;
  float: left;
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;
}

.team img {
  width: 100%;
  transition: 0.7s;
}
.team:hover img {
  transform: scale(1.05);
}
.team .details {
  position: absolute;
  bottom: -100%;
  left: 0px;
  padding: 0 10px 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  transition: 0.7s;
  z-index: 2;
}

.team:hover .details {
  bottom: 0px;
}

.team .details h3 {
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  text-align: right;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.team .details h3 span {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  color: #efb61e;
  font-weight: 900;
  position: relative;
  top: -2px;
}

.team .details ul {
  margin: 0;
  padding: 0;
  display: flex;
  float: right;
}

.team .details ul li a {
  padding: 0 10px;
  color: #fff;
}

.team .details ul li a:hover .fab {
  transition: 0.5s;
  transform: rotateY(360deg);
  color: #efb61e;
}

.tabs{
  width: 100%;
}

.tabs .indicator {
  background-color: #efb61e;
}
.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background: transparent;
}

/*footer */
#social a i {
  padding: 20px;
  color: white;
}

#social btn:hover {
  background: #1f2e6e;
}

@media only screen and (max-width: 990px) {
  .row .col.offset-s1 {
    margin: 0px;
  }

  .row .col.s10 {
    width: 100%;
    margin: 0px;
  }

  .card-image img {
    min-height: 275px;
  }

  .card .card-content {
    padding: 12px;
    border-radius: 0 0 2px 2px;
  }
}
