@import './landing.css';
@import './top-four.css';
@import './teams.css';

html {
  font-family: "Lexend Deca", -apple-system, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: black;
  color: white;
  z-index: -1;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 1.7rem;
}

h3 {
  font-size: 2.44rem;
}

/* Section header */
.section-header {
  padding: 1.5em 0 .75em;
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
}

.section-header__decorator{
  border: 10px solid #efb61e;
  margin: auto 0;
  flex: 1;
}

.section-header__content{
  flex: 50%;
  text-align: center;
}

.sidenav {
  padding-top: 1em;
}

.sidenav li{
  padding-bottom: .5em;
}
.sidenav li:first-child{
  padding-bottom: 1em;
}

.sidenav-trigger {
  color: #1f2e6e;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #landing {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #landing {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.ablue {
  background-color: #1f2e6e;
}
.ayellow {
  background-color: #efb61e;
}

.ayellow-text {
  color: #efb61e;
}

.ablue-text {
  color: #1f2e6e;
}

/* sticky nav */

.button {
  font-family: inherit;
}

/* Modal box */

.modal {
  background-color: black;
}

.modal .modal-footer {
  background-color: black;
  color: white;
}

/* About us */
/*#aboutus {
  display: flex;
  vertical-align: middle;
  justify-content: center;
}*/

#aboutus .content {
  border-left: 1px solid #9c9c9c;
  padding-left: 20px;
}

#aboutus ol {
  padding-left: 15px;
}
#aboutus li {
  padding: 2.5px;
  line-height: 1.5em;
}

@media (max-width: 992px) {
  #aboutus .content {
    border-left: 0;
    padding-left: 10px;
  }
}

/* Meet our team section */
.card-image img {
  height: 28vh;
}

.team {
  position: relative;
  margin: 15px auto;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;
}

.team img {
  width: 100%;
  height: 100%;
  transition: 0.7s;
}
.team:hover img {
  transform: scale(1.05);
}
.team .details {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0 10px 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  transition: 0.7s;
  z-index: 2;
}

.team:hover .details {
  bottom: 0px;
}

.team .details h4 {
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  text-align: right;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.team .details h4 span {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  color: #efb61e;
  font-weight: 900;
  position: relative;
  top: -2px;
}

.team .details ul {
  margin: 0;
  padding: 0;
  display: flex;
  float: right;
}

.team .details ul li a {
  padding: 0 10px;
  color: #fff;
}

.team .details ul li a:hover .fab {
  transition: 0.5s;
  transform: rotateY(360deg);
  color: #efb61e;
}

.tabs{
  width: 100%;
}

.tabs .indicator {
  background-color: #efb61e;
}
.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background: transparent;
}

.container__publications {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: start;
  background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../assets/images/placeholderBg.jpg) no-repeat 50% 50%;
  background-size: cover;
  padding-bottom: 3em;
  padding-top: 3rem;
}

#publications {
  width: 100%;
}

.section-header.publications {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  color: white;
  padding-bottom: 3rem;
  width: 100%;
}

/*footer */
#social a i {
  padding: 20px;
  color: white;
}

#social btn:hover {
  background: #1f2e6e;
}

@media only screen and (max-width: 992px) {
  .card .card-content {
    border-radius: 0 0 2px 2px;
  }

  .container{
    width: 80%;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 992px) {
  .row .col.l3 {
    width: 50%;
  }

  .card-image img{
    height: 30vh;
  }
}
