#ourDivisionsSection {
  text-align: center;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../assets/placeholderBg.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.teams {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  padding: 3em 0;
}

.teams::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  display: none;
}
.teams::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.teams::-webkit-scrollbar-track {
  background: transparent;
}

.teams-slides {
  scroll-snap-align: start;
  flex-shrink: 0;
  flex-basis: 100%;
}

.teams-overview {
  display: flex;
  flex-wrap: wrap;
}

.teams-overview__container {
  flex: 50%; 
  padding: 0 1em;
}

.teams-overview__card {
  text-align: center;
  padding: 2.5em;
}

.teams-overview__card:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4));
}

.teams-overview__content {
  padding: 1em;
  border: 2px solid #10bde6;
  line-height: 1rem;
}

.teams-overview__card img {
  object-fit: cover;
  width: 100%;
  height: 70%;
  border: 2px solid #10bde6;
}

.teams-overview__card p {
  line-height: 1rem;
}

.teams-overview__button {
  background-color: #10bde6;
  border-radius: 5px;
  display: inline-block;
  padding: .5em;
  word-spacing: .05rem;
}

.teams-overview__button a {
  color: inherit;
}

.per-team {
  padding: 2em;
}
